
.info-box {
    background-color: #d3e698;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #333;
}

.info-box p {
    margin: 10px 0;
    line-height: 1.5;
}

.email-button {
    background-color: #1d3f21;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.email-button:hover {
    background-color: #3b6a3e;
}
