/* Everything we need in the basic pages! (Adopt, Guidelines, Donate... */

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0056b3;
    padding: 1rem;
}

.navbar-brand,
.nav-link {
    color: #fff !important;
    font-weight: 500;
}


/* Info Box */

.info-box {
    background-color: hsl(205, 100%, 75%);
    color: #333;
    padding: 30px;
    text-align: center;
    margin: 2rem 0;
    border: 1px solid #b3e5fc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box p {
    margin: 0.5rem 0;
}


/* Footer */

.footer {
    background-color: #0056b3;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}